# Google Gemini API Key
gemi_api=YOUR_GOOGLE_GEMINI_API_KEY_HERE

# LangChain API Keys
lang_gold=YOUR_LANGCHAIN_API_KEY_HERE
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=YOUR_LANGCHAIN_TRACING_KEY_HERE
LANGCHAIN_PROJECT=Jio_RAG_Project
